*{
    margin: 0px;
}

body{
    background-color: rgb(116, 4, 4);
    
}

#cabecalhoPoke{
    background-image: url("../imagens/wp2828100.jpg");
    background-attachment:fixed;
}
#tituloPokemon{
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #00408a;
    -webkit-text-fill-color: rgb(243, 229, 33);
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    letter-spacing: -8px;
}

#pokebola1{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 150px;
}
#pokebola2{
    width: 150px;
    position: absolute;
    top: 20px;
    right: 150px;
}

.listaPokemon{
    display: inline-block;
}

.nomePokemon{
    background-color: black;
    border-radius: 5px;
    text-align: center;
    margin-left: 250px;
    position: relative;
    right: 100px;
    color: gold;
}

.imgPokemon{
    border: 3px black solid;
    border-radius: 20px;
    width: 350px;
    height: 300px;
    margin-left: 40px;
    background-image: linear-gradient( rgb(250, 0, 0), gray, rgb(255, 255, 255)); 
    /* background-image: url("Pokémon_GO_logo.svg.png");
    background-size: 100%;
    background-repeat: no-repeat; */
}

