*{
    margin: 0px;
}

body{
    
}

#cabecalhoPoke{
    background-image: url("../imagens/wp2828100.jpg");
    background-attachment:fixed;
    display: flex;
    justify-content: space-around;
    

}
#tituloPokemon{
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #00408a;
    -webkit-text-fill-color: rgb(243, 229, 33);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    letter-spacing: -8px;
}

#pokebola1{
    width: 180px;
}
#pokebola2{
    width: 180px;
}

.containerPokemonLinks{
    background-color: rgb(35, 53, 174);
    display: flex;
    justify-content: space-around;
}

.linksPokemon{
    border: 1px rgb(159, 206, 234) solid;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    display: flex;
}

.containerCards{
    background-color: rgb(116, 4, 4);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.cardsPokemon{
    border: 3px black solid;
    border-radius: 20px;
    width: 450px;
    height: 420px;
    margin-top: 50px;
    margin-left: 40px;
    background-image: linear-gradient( rgb(250, 0, 0), gray, rgb(255, 255, 255)); 
}


.nomePokemon{
    background-color: black;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    position: relative;
    color: gold;
}

.imgPokemon{
    width: 450px;
    height: 400px;
   
}

@media screen and (max-width: 600px ) {
    .cardsPokemon{
        width: 320px;
        height: 300px;
    }
    .imgPokemon{
        width: 320px;
        height: 270px;
    }
    #pokebola1, #pokebola2{
        width: 70px;
        height: 70px;
    }
    #tituloPokemon{
        font-size: 70px;
        -webkit-text-stroke-width: 3px;
    }
}